# Directories to be ignored
build-DIPDemo-Desktop_Qt_5_5_0_MinGW_32bit-Debug/
build-DIPDemo-Desktop_Qt_5_5_0_MinGW_32bit-Release/
build-DIPDemo-Desktop_Qt_5_7_0_GCC_64bit-Debug/
build-DIPDemo-Desktop_Qt_5_7_0_GCC_64bit-Release/
Output/

# Compiled Object files
*.o
*.obj

# Executables
*.exe
